@import "tailwindcss";

:root {
  --background: #0c0c0c;
  --light-dark: #242424;
  --foreground: #171717;
  --my-gray: #2b2b2b;
}

@theme {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --color-light-dark: var(--light-dark);
  --color-my-gray: var(--my-gray);
}

body {
  color: #fff;
  font-family: var(--font-nunito);
  background-color: var(--background);
  position: relative;
}

body::after {
}
